#cloud-config
package_update: true
package_upgrade: true

packages:
  - git
  - curl
  - wget
  - net-tools
  - ca-certificates
  - software-properties-common
  - ufw
  - aide
  - chrony
  - logrotate
  - gnupg
  - lsb-release

groups:
  - docker

users:
  - name: sysadmin
    groups: sudo, docker
    shell: /bin/bash
    sudo: ["ALL=(ALL) NOPASSWD:ALL"]
    ssh_authorized_keys:
      - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIIBYt98G/lAhpNxBLY1JAGZcHSbMTuBJHwFFwMTkt/my sandro@sandros-MacBook-Pro.local

runcmd:
  # UFW firewall setup
  - ufw allow OpenSSH
  - ufw allow 'Nginx Full'
  - ufw --force enable

   # Retry apt installs (prevents lock issues on first boot)
  - |
    for i in {1..5}; do
      apt-get update && \
      apt-get install -y nginx && \
      break || sleep 10
    done

  # Install Docker from official repo
  - install -m 0755 -d /etc/apt/keyrings
  - curl -fsSL https://download.docker.com/linux/$(. /etc/os-release; echo "$ID")/gpg | gpg --dearmor -o /etc/apt/keyrings/docker.gpg
  - chmod a+r /etc/apt/keyrings/docker.gpg
  - echo "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/docker.gpg] https://download.docker.com/linux/$(. /etc/os-release; echo "$ID") $(lsb_release -cs) stable" | tee /etc/apt/sources.list.d/docker.list > /dev/null
  - apt-get update
  - apt-get install -y docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin

  # Enable and start services
  - systemctl enable nginx
  - systemctl start nginx
  - systemctl enable docker
  - systemctl start docker

  # Initialize AIDE
  - aideinit

power_state:
  mode: reboot
  message: "Rebooting after cloud-init finished"
  timeout: 30
  condition: True