#cloud-config

hostname: baphomet-services
fqdn: services.baphomet.cloud

package_update: true
package_upgrade: true

write_files:
  - path: /etc/ssh/sshd_config.d/90-no-password-login.conf
    permissions: '0644'
    content: |
      PasswordAuthentication no
      PermitRootLogin prohibit-password

users:
  - name: sysadmin
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD: ALL
    groups: users, sudo, docker
    ssh_authorized_keys:
      - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIIBYt98G/lAhpNxBLY1JAGZcHSbMTuBJHwFFwFFwMTkt/my sandro@sandros-MacBook-Pro.local
      - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKC6jxq2Lbiwe4cjcB8itTmh4a6ldDR6KVGSM2PvrZwb sandro@DESKTOP-E6TGITL

packages:
  - git
  - curl
  - wget
  - nginx
  - docker.io
  - net-tools
  - ca-certificates
  - software-properties-common
  - ufw
  - aide
  - chrony
  - logrotate

runcmd:
  - systemctl reload sshd

  - ufw default deny incoming
  - ufw default allow outgoing
  - ufw allow 22/tcp
  - ufw allow 80/tcp
  - ufw allow 443/tcp
  - echo "y" | ufw enable

  - systemctl enable nginx
  - systemctl start nginx
  - systemctl enable docker
  - usermod -aG docker sysadmin

  - aideinit
